header {
    background-image: url("../imgs/84270179-mujer-dibujo-ecommerce-concepto-de-compras-en-línea-en-el-bloc-de-notas.png");
    background-attachment: fixed;
    background-color: #f5f5f5;
    background-image: $degradado;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header_alto;
    padding: 0 20px;
    box-shadow: 0 2px 10px 1px rgba(13, 13, 13,0.7);
  .img-thumbnail{
      height: $header_alto - 20;
  }
} 
