*{
    margin: 1%;
    padding: 0%;
    box-sizing: border-box;

}



header {
     background-image: url("../imgs/84270179-mujer-dibujo-ecommerce-concepto-de-compras-en-línea-en-el-bloc-de-notas.png");
     background-attachment: fixed;
     background-color: #f5f5f5;
     background-image: linear-gradient(#f5f5f5,#e5e5);
}



h1{

    color:blueviolet;
    font-weight: 100;
    text-align: center;
}

p{
    color: cornflowerblue;
}

footer {
    color:fuchsia;
}

.Cont {
    color: darkseagreen;
}

.borde-rend{
border-radius: 16px;

}

#section-1{
    background-color: indigo;

}

body{
    background-color: tan;
    background-image: radial-gradient(tan,darkseagreen);
}

nav ul{
list-style: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inter {
line-height: 2;
font-family: serif;
font-size: 100px;

}

.flex-container {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box {
    background-color: violet;
    color: #f5f5f5;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    transition: all 2s;
    
}

.card__body img {
    width: 200px;
    height: auto;  
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px ;
    column-gap: 5px;
    row-gap: 5px;
}

.grid div {
    border: 1px solid blue;
}

h4{
    color:blueviolet;
    font-weight: 100;
    text-align: center;
}



.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input{
    background: transparent;
    border: 0;
    color: #fff;
    outline: none;
    border: 1px  solid #fff;
    padding: 20px 10px;
}

.input::placeholder{
    color: #fff;
    font-family: 'raleway', 'sans-serif';
}

input[type="text"], 
input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
}

.form textarea{
    width: 100%;
    margin-bottom: 15px;
}

input[type="submit"]{
    width: 120px;
    text-align: center;
    padding: 14px 0;
}

input[type="submit"]:hover{
    cursor: pointer;
    color: tomato;
    background: #fff;
}




/* Cards */

.content-cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
}

.card:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

.card i{
    margin: 30px 0 20px 0;
    color: #cc9199;
    font-size: 50px;
}

.card p{
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 10px;
}










/*  mobile */
@media only screen and (min-width:0px) and (max-width:767px){
    .grid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 200px 200px ;
        column-gap: 5px;
        row-gap: 5px;
    }
    .card{
        height: 380px;
    }
}

.box--animacion{
    animation: mi_animacion;
    animation-duration: ease;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes mi_animacion {
    0%{
       transform: translate(200px,55px);
    }
    25%{
        background-color: beige;
    }

    50%{
        width: 300px;
    }

    100%{
        background-color: slateblue;
      
    }
}
   